
$base-color: #e84545;
$header-color: #292c47;
$gray: #e8ecee;
$testimonial-color: #53354a;
$footer-top: #3a3e64;
$footer-bottom: #313454;


body {
	font-family: 'Raleway', sans-serif;
}

.no-padding {
  padding: 0; }

.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#banner {
	background-image: url(../img/banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transition: 500ms;
		z-index: 99999;
		.main_nav {
			padding: 40px 0;
			border-bottom: 1px solid rgba(255, 255, 255, .15);
			.nav {
				li {
					a {
						padding: 0;
						background: transparent;
					}
				}
			}
			.nav_bar {
				text-align: right;
				li {
					padding-left: 40px;
					display: inline;
					a {
						display: inline-block;
						text-transform: uppercase;
						font-size: 13px;
						font-weight: 700;
						color: rgba(255, 255, 255, .75);
						text-decoration: none;
						transition: 500ms;
						&:hover {
							color: #fff;
						}
					}
				}
				li.active {
					a {
						color: #fff;
					}
				}
			}
		}
	}

	header.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: $header-color;
		z-index: 9999999;
		.main_nav {
			padding: 20px 0;
			border-bottom: 0;		
		    -moz-transition: padding 0.3s;
		    -o-transition: padding 0.3s;
		    -webkit-transition: padding 0.3s;
		    transition: padding 0.3s;
			.nav_bar {
				.navbar-collapse {
					padding-bottom: 0;
					-moz-transition: padding 0.3s;
				    -o-transition: padding 0.3s;
				    -webkit-transition: padding 0.3s;
				    transition: padding 0.3s;
					border-bottom: 0;
				}
			}
		}
	}

	.banner-text {
		padding: 0 10px;
		margin-bottom: 150px;

		h1 {
			font-size: 65px;
			font-family: sans-serif;
			color: #fff;
			font-weight: 700;
			padding-top: 25%;
		}

		p {
			font-size: 22px;
			color: #fff;
			font-weight: 300;
			line-height: 1.5;
			margin-bottom: 80px;
		}
		
		.btn-default {
			background: $base-color;
			border: 0;
			border-radius: 2px;
			color: #fff;
			font-size: 13px;
			font-weight: 600;
			padding: 15px 40px;
			&:hover {
				background: #e52e2e;
				border: 0;
				border-radius: 2px;
				color: #fff;
				font-size: 13px;
				font-weight: 600;
				padding: 15px 40px;
			}
		}
	}
}


#features {
	padding: 100px 0;
	.feature {
		margin-bottom: 50px;
		padding: 0 15px;
		.icon {
			font-size: 64px;
			color: $base-color;
			margin-bottom: 30px;
		}

		h5 {
		    font-weight: 700;
		}
	}
}


#works {
	.work {
		height: 350px;
		width: 100%;
		overflow: hidden;
		&:after {
			content: "";
			height: 350px;
			width: 100%;
			background: $base-color;
			opacity: 0;
			position: absolute;
			top:0;
			left: 0;
			z-index: 111;
			transition: 500ms;
		}
		&:hover a img {
		transform: scale(1.2,1.2);
		}
		&:hover a .text {
			opacity: 1;

			h5 {
				margin-bottom: 10px;
			}
		}

		&:hover:after {
		opacity: 0.9;
		}

		a {
			img {
				height: 350px;
				width: auto;
				position: relative;
				transition: 500ms;
			}
			.text {
				position: absolute;
				z-index: 9999;
				color: #fff;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: 500ms;

				h5 {
					text-transform: uppercase;
					font-weight: 700;
					margin-bottom: 100px;
					transition: 500ms;
				}
			}
		}	
	}
}


#team {
	padding: 100px 0;
	.team-member {
		.member-content {
			h4 {
				margin-top: 20px;
				font-size: 22px;
			}

			h5 {
				margin-bottom: 20px;
				color: $base-color;
				text-transform: uppercase;
				font-size: 13px;
			}
		}
		.member-social-icon {
			margin-top: 30px;
			ul {
				li {
					display: inline;
					margin-right: 5px;
					a {
						border-radius: 2px;
						display: inline-block;
						font-size: 18px;
						height: 40px;
						width: 40px;
						line-height: 40px;
						text-align: center;
						border: 1px solid $gray;
						color: $gray;
						transition: 500ms;
						&:hover {
							border: 1px solid $base-color;
							color: #fff;
							background: $base-color;
						}
					}
				}
			}
		}
	}
}


#testimonials {
	.flexslider {
		margin-bottom: 0;
		background: $testimonial-color;
		.slides {
			li {
				position: relative;
				img {
					width: 50%;
					height: auto;
				}

				.flex-caption {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(0%, -50%);
					padding: 30px 50px;
					blockquote {
						font-family: 'Cardo', serif;
						font-style: italic;
						font-size: 36px;
						color: #fff;
						border-left: 0;
					}
					cite {
					text-transform: uppercase;
					font-size: 13px;
					font-weight: 700;
					font-style: normal;
					color: #fff;
					}
				}
			}
		}
	}
}


#download {
	padding: 100px 0;
	h2 {
		font-weight: 300;
		font-size: 28px;
	}
	p {
		font-size: 14px;
		font-weight: 600;
	}
	.btn-default {
		background: $base-color;
		border: 0;
		border-radius: 2px;
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		padding: 15px 40px;
		display: inline-block;
		margin-top: 30px;
		&:hover {
			background: #e52e2e;
			border: 0;
			border-radius: 2px;
			color: #fff;
			font-size: 13px;
			font-weight: 600;
			padding: 15px 40px;
		}
	}
}


.footer-top {
	padding-top: 50px;
	padding-bottom: 100;
	background: $footer-top;
	line-height: 1.5;
	.footer-con {
		margin-bottom: 100px;
		color: #fff;
		h5 {
			font-weight: 700;
			font-size: 14px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		p {
			opacity: .5;
			font-size: 14px;
		}
		ul {
			li {
				display: inline;
				margin-right: 5px;
				a {
					border-radius: 2px;
					display: inline-block;
					font-size: 18px;
					height: 40px;
					width: 40px;
					line-height: 40px;
					text-align: center;
					border: 2px solid #fff;
					color: #fff;
					transition: 500ms;
					&:hover {
						border: 2px solid $base-color;
						color: #fff;
						background: $base-color;
					}
				}
			}
		}
	}
}


.footer-bottom {
	padding: 20px 0;
	line-height: 1.5;
	background: $footer-bottom;
	color: rgba(255, 255, 255, .5);
	
	i {
		color: $base-color;
	}

	a {
	color: #fff;
	transition: 500ms;
	text-decoration: none;
	&:hover {
		color: $base-color;
		}
	}
}
